html, body{
    height: 100%;
    max-height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #edeef0;
}

.navbar{
    margin-bottom: 0;
}

.product-item{
    height: 360px;
    background-color: white;
    position: relative;
    border: 1px solid lightgrey;
    text-align: center;
    padding:10px 0 10px 0;
    margin-bottom: 10px;
}

.discount-container{
    position: absolute;
    top: 43%;
    background: #e06c32;
    width: 30%;
    color: white;
    font-weight: 700;
    padding: 3px;
}

.add-to-card-btn{
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%, 0%);
}
.text-center{
    margin-bottom: 40px;
    margin-top: 40px;
}

.footer{
    margin-bottom: -100px;
    background-color: white;
    height: 200px;
}

.section-top{
    margin-bottom: 20px;
}